body{
    height: 100vh;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(109, 39, 239));
}
.sidebar{
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    }

.logo{
    display: block;
    margin: auto;
    width: 50px;
    height: 50px;
}
h1{
    margin-top: 12px;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.container{
    max-width: 1100px;
    border: 2px solid black;
    border-radius: 13px;
    margin: auto;
    height: 80vh;
    padding: 33px;
    overflow-y: auto;
    margin-bottom: 23px;
    margin-left: 250px; /* adjust this value to match the width of your sidebar */
}
.logo, .title {
    display: inline-block;
  }
  
  .logo {
    width: 50px; /* adjust the width as needed */
    height: 50px; /* adjust the height as needed */
    margin-right: 10px; /* adjust the margin as needed */
  }

.message{
    background-color: rgb(211, 204, 204);
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}

.message image{
    background-color: rgb(211, 204, 204);
    width: 500%;
    height: 500%;
    padding: 10px;
    margin: 17px 12px;
    border: 2px solid black;
    border-radius: 10px;
}
.left{
    float: left;
    clear:both;
}

.right{
    float: right;
    clear:both;
}

#send-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1085px;
    margin: auto;
    text-align: center;
    margin-left: 270px;
}
#messageInp{
    width: 70%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
    font-size: 22px;
    margin-right: 10px; /* added margin to separate from the button */
}

/* .btn{
    background-color: blue;
    margin: 0 5px;
    width: 9%;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
} */
